<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="piraeus" type="Piraeus.Configuration.PiraeusSection, Piraeus.Configuration"/>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<piraeus>
		<channels>
			<tcp useLengthPrefix="false" blockSize="1024" maxBufferSize="2048">
				<presharedkey identity="pskIdentity" key="abc=" />
				<certificate authenticate="true" store="My" location="localmachine" thumbprint="‎‎5f241eacd2244dac059d76a9ecbbc9a69dc6acc4"/>
			</tcp>
			
		</channels>
		<protocols>
			<mqtt keepAliveSeconds="180" ackTimeoutSeconds="2" ackRandomFactor="1.5" maxRetransmit="4" maxLatencySeconds="100" />
			<coap hostname="www.example.org" autoRetry="false" nstart="1" defaultLeisure="4" probingRate="1" keepAliveSeconds="180" ackTimeoutSeconds="2" ackRandomFactor="1.5" maxRetransmit="4" maxLatencySeconds="100" />
		</protocols>
		<identity>
			<client claimType="http://www.example.org/name">
				<indexes>
					<add claimType="http://www.example.org/claims/group" indexName="key1" />
					<add claimType="http://www.example.org/claims/role" indexName="key2" />
				</indexes>
			</client>
			<service>
				<claims>
					<add claimType="http://www.piraeus.org/name" value="piraeus" />
					<add claimType="http://www.piraeus.org/role" value="service" />
				</claims>
			</service>
		</identity>
		<security>
			<client>
				<symmetricKey securityTokenType="JWT" symmetricKey="zxy" issuer="piraeus" audience="piraeusaud" />					
			</client>
			<service>
				<asymmetricKey store="My" location="localmachine" thumbprint="‎‎5f241eacd2244dac059d76a9ecbbc9a69dc6acc4" />
			</service>
		</security>
	</piraeus>
</configuration>