<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="hostname" value="mliothub2.azure-devices.net" />
		<add key="deviceId" value="device1" />
		<add key="username" value="mliothub2.azure-devices.net/device1/api-version=2016-11-14" />
		<add key="port" value="8883" />
		<add key="base64Password" value="U2hhcmVkQWNjZXNzU2lnbmF0dXJlIHNyPW1saW90aHViMi5henVyZS1kZXZpY2VzLm5ldCUyRmRldmljZXMlMkZkZXZpY2UxJnNpZz1EM1JEZFklMkJoeTFFcklWb1loU2oyZU5BQ3RDeXJ0M0JmUzJOcXNwbGpBVVklM0Qmc2U9MTUwMjIwNjY1Mg==" />		
		<add key="certpath" value=".\certs\localhost.pfx" />
		<add key="certpassword" value="pass@word1" />
		<add key="blocksize" value="64000" />
		<add key="maxBufferSize" value="256000" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.4.0.0" newVersion="8.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
