<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <h2>
                    Piraeus Web Gateway
                </h2>
                <div>
                    Real-time communications for Open Systems - <b><i>Dare Mighty Things</i></b>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <h3>
                        Overview
                    </h3>
                    <p>
                        Web gateway supports the following channels:
                    </p>
                    <ol>
                        <li>
                            Web Sockets (bidirectional)
                        </li>
                        <li>
                            HTTP POST for sending
                        </li>
                        <li>
                            HTTP Long Polling for receiving
                        </li>
                    </ol>
                    <p>
                        Web gateway supports the following protocols:
                    </p>
                    <ol>
                        <li>
                            CoAP + Observe and No-Response options 
                        </li>
                        <li>
                            MQTT v3.1.1 
                        </li>
                        <li>
                            REST - though not really a protcol :-) 
                        </li>
                    </ol>
                    <p>
                        Web gateway supports the following content types :
                    </p>
                    <ol>
                        <li>
                            application/json
                        </li>
                        <li>
                            application/xml
                        </li>
                        <li>
                            text/plain
                        </li>
                        <li>
                            application/octet-stream
                        </li>
                    </ol>
                    <span class="glyphicon glyphicon-cog">&nbsp;&nbsp;<a href="http://www.pegasusmission.com">Learn more</a></span><br />
                    <span class="glyphicon glyphicon-th-list">&nbsp;&nbsp;<a href="http://www.pegasusmission.com">Documentation</a></span>
                </div>
                <div class="col-md-6">
                    <h3>
                        Welcome to the Skunk Lab
                    </h3>
                    <img src="~/Content/SkunkLab-171x199.jpg" />
                    <div class="row">
                        <div class="col-md-12">
                            <h4> Crazy real-time stuff we have done at scale with Piraeus</h4>
                            <a href="https://pegasusmission.com/2016/12/">2016 Annual Report</a>
                            <dl>
                                <dt>
                                    Pegasus II - IoT on the Edge of Space
                                </dt>
                                <dd>
                                    A risky trip to near space while having bidirectional and real-time communications with a global audience in 60 countries.<br />
                                    <a href="https://pegasusmission.com/2016/05/02/pegasus-ii-news-articles/">articles</a>
                                    <a href="https://www.youtube.com/watch?v=S0hP_8CeM2A&t=4s">video</a>

                                </dd>
                                <dt>
                                    North American Eagle - Challenging the world land speed record

                                </dt>
                                <dd>
                                    A remote desert and a super sonic fighter jet with wheels bring a global audience of 20,000 the real-time ride of their lives at 477.59 mph.<br />
                                    <a href="https://pegasusmission.com/2018/01/17/pegasus-nae-articles-2016/">articles</a>
                                    <a href="https://www.youtube.com/watch?v=ZIlXDsdlIko">video</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



